<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teng.mai.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.teng.mai.model.entity.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            <result property="articleCover" column="article_cover" jdbcType="VARCHAR"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleAbstract" column="article_abstract" jdbcType="VARCHAR"/>
            <result property="latestReplyId" column="latest_reply_id" jdbcType="BIGINT"/>
            <result property="replyTimes" column="reply_times" jdbcType="INTEGER"/>
            <result property="favTimes" column="fav_times" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,article_content,
        article_cover,article_title,article_abstract,
        latest_reply_id,reply_times,fav_times,type,
        url,create_time,update_time,deleted
    </sql>
</mapper>
