<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teng.mai.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.teng.mai.model.entity.Comment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
        <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
        <result property="replyUserId" column="reply_user_id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,topic_id,
        comment_content,reply_user_id,parent_id,
        type,create_time,update_time,
        deleted
    </sql>

    <select id="listReplies" resultType="com.teng.mai.model.vo.ReplyVO">
        SELECT
        *
        FROM
        (
        SELECT
        c.id,
        c.parent_id,
        c.user_id,
        u.username,
        u.user_avatar,
        u.user_gender,
        c.comment_content,
        c.create_time,
        c.reply_user_id,
        r.username as reply_username,
        row_number () over ( PARTITION BY parent_id ORDER BY create_time ASC ) row_num
        FROM
        comment c
        JOIN user u ON c.user_id = u.id
        JOIN user r ON c.reply_user_id = r.id
        WHERE
        parent_id IN
        (
        <foreach collection="commentIdList" item="commentId" separator=",">
            #{commentId}
        </foreach>
        )
        order by c.create_time desc
        ) t
    </select>
</mapper>
